.characters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-auto-rows: auto;
    justify-content: space-between;
    row-gap: 20px;
    padding:  50px 0;
}
.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 2px solid ;
    padding: 20px;
}