.header{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 75px;
}
.logo img{
    width: 100%;
}
.logo img:hover{
    color: #2680b4;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.nav a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.nav a:hover{
    color: #2680b4;
}
.active{
    color: #b426a1 !important;
}